
body {
    width:100vw;
    height:100vh;
    background-color: rgb(0, 0, 0);
    display:flex;
    padding: 0; margin:0;
    align-items: center;
    justify-content: center;
}


#mainUICard {
    background-color: rgb(22, 29, 30);
    width:65vw;
    height: 460px; 
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
#mainUICard::after {
    content: '';
    background-image: linear-gradient(15deg, rgb(175, 218, 224), white 100%);
    width:100%;
    height: 30%;
    bottom:0; 
    position: absolute;
    z-index: 4;
}

#startExp {
    position: absolute;
    width:100%;
    height:460px;
    background-color: rgb(35, 35, 35);
    z-index: 1000;
    color:white;
    display:flex;
    align-items: center;
    justify-content: center;
}

#startExpBTN {
    background-color: rgba(0, 0, 0, 0.657);
    width:max-content;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    padding:.6rem 1rem;
    border:white solid .15em;
    border-radius: 24px;
    box-shadow: rgb(15, 172, 220) 0px 0px 3px 1px;
    cursor: pointer;
}


#openLanding {
    width:94%;
    height:90%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.903);
    z-index: 105;
    border-radius: 12px;
    display: none;
    align-items: center;
    justify-content: center;
}

#formWrapper {
    width:60%;
    height:92%;
    background-color: rgba(0, 0, 0, 0.697);
    display: flex;
    flex-direction: column;
    color:white;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.085);
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#formHeader {
    position: relative;
    bottom: 6%;
    font-weight: 500;
    font-size: 1.7rem;
}
#formQuestion {
    position: relative;
    top:18%;
    color:aqua;
    font-size: 1.1rem;
}

.radioButtons {
    position: relative;
    top:12%;
}

.radioText {
    position: relative;
    top:2.2%;
    line-height: 25px;
}

#firstName {
    width: 160px;
    position: relative;
    bottom:14%;
    text-align: center;
}
#animalName {
    width: 160px;
    position: relative;
    bottom:13%;
    text-align: center;
    font-size: .8em;
}




.mountains {
    position: absolute;
    bottom:30%;
    left:105%;
    z-index: 2;
    width: 0; 
    height: 0; 
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 90px solid rgb(104, 169, 210);
    animation: mountainpass 5s infinite;
    animation-timing-function: linear;
}

.mountains::after {
    content: '';
    position: absolute;
    z-index: 2;
    right:-21px;
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid rgba(255, 255, 255, 0.355);
}

#mountain2 {
    border-bottom: 90px solid rgb(101, 145, 193);
    left:110%;
    bottom:26%;
    animation: mountainpass 5s infinite 1.5s;
    animation-timing-function: linear;
}

#mountain3 {
      border-left: 120px solid transparent;
    border-right: 120px solid transparent;
    border-bottom: 120px solid rgb(63, 111, 161);
    left:140%;
    bottom:26%;
    animation: mountainpass 5s infinite 2.5s;
    animation-timing-function: linear;
}

#mountain4 {
    border-left: 110px solid transparent;
    border-right: 110px solid transparent;
    border-bottom: 100px solid rgb(126, 172, 201);
    left:170%;
    bottom:26%;
    animation: mountainpass 5s infinite 3.5s;
    animation-timing-function: linear;
}

#mountain5 {
    border-left: 110px solid transparent;
    border-right: 110px solid transparent;
    border-bottom: 100px solid rgb(126, 172, 201);
    left:170%;
    bottom:26%;
    animation: mountainpass 5s infinite 1s;
    animation-timing-function: linear;

}

#polarBear1 {
    position: absolute;
    width:100px;
    bottom:15%;
    z-index: 100;
    left:16%;
}
#polarBear2 {
    position: absolute;
    width:70px;
    bottom:10%;
    z-index: 100;
    right:9%;
}

#polarBear3 {
    position: absolute;
    width:70px;
    bottom:15%;
    z-index: 100;
    right:20%;
}


.polarBearActive {
    animation:sledpop 2s infinite;
}

.stars {
    position: absolute;
    top:20vh;
    left:15vw;
    transform: rotate(45deg);
    width:4px;
    height:4px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(227, 223, 123, 0.134) 0px 0px 2px 2px;
    opacity:1;
    animation: starpop 5s infinite;
}

#star2 {
    position: absolute;
    top:40vh;
    left:10vw;
    width:6px;
    height:6px;
    animation: starpop 5s infinite 1.5s;
}
#star3 {
    position: absolute;
    top:20vh;
    width:6px;
    height:6px;
    left:50vw;
    animation: starpop 5s infinite 1.5s;
}
#star4 {
    position: absolute;
    top:40vh;
    left:55vw;
    width:7px;
    height:7px;
    animation: starpop 5s infinite .5;
}
#star5 {
    position: absolute;
    top:35vh;
    left:40vw;
}
#star6 {
    position: absolute;
    top:35vh;
    left:27vw;
    animation: starpop 5s infinite .5;
}

#moon {
    width:70px;
    height: 70px;
    background-color: white;
    border-radius: 360px;
    position: absolute;
    right:20%;
    animation: moonglow 3s infinite;
}

.snowMounds {
    width:60%;
    height:400px;
    border-top-left-radius: 230px;
    border-top-right-radius: 230px;
    background-color: white;
    position: absolute;
    left:-22%;
    top:69%;
}

#snowMound1 {
    border-top-left-radius: 260px;
    border-top-right-radius: 260px;
    left:10%;
    top:69%;

}
#snowMound3 {
    border-top-left-radius: 260px;
    border-top-right-radius: 260px;
    left:60%;
    top:69%;
}





@keyframes mountainpass {
    0% {
        left:130%;
    }
    100% {
        left:-30%;
    }
}

@keyframes sledpop {
    0% {
        transform: rotate(-2deg);

    }
    50% {
        transform: rotate(2deg);
    }
    100% {
        transform: rotate(-2deg);

    }
}

@keyframes starpop {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.1;
    }
    100% {    
        opacity: 1;
    }
}
@keyframes moonglow {
    0% {
       box-shadow: white 0px 0px 6px 2px;
    }
    50% {
        box-shadow: white 0px 0px 16px 5px;
    }
    100% {    
        box-shadow: white 0px 0px 6px 2px;
    }
}